@{
    ViewData["Title"] = "Panel de administración";
    Layout = "LayoutAdmin";
}

<h2>Panel de administración 👑</h2>

<div class="mt-4">
    <a class="btn btn-outline-primary mb-2" href="/SolicitudesMusico">
        📋 Gestionar solicitudes de músico
    </a>
</div>
